<template>
<div>
    <MainHeader/>
    <div class="container" >

        <div class="row">
            <div class="col-3" >
                <Stmain/>
            </div>
        <!------------------------------------------------------------------------------------------------------------------------->
            <div class="col-9" >

                
                <div class="row" style="  background-color: rgba(0,2,10,0.5) !important;"  >

                    <div class="col-9">
                    <h3 style="text-align: center">Жеке маалыматтары    </h3>
        
                      
                    </div>
                   

                    <div class="col-3" >
                    surot
                    </div>
                </div>
          
            </div>

        </div>
    </div>

</div>
</template>
<script>
import Stmain from '@/components/Student/Stmain'
import MainHeader from '@/components/MainHeader'
import axios from 'axios'


export default {

     data() {
    return {
        info:null,
        klass:null
    }
  },
  methods:{
    },
  components: {
    Stmain,MainHeader
  },
    mounted() {

        axios

            .get('https://e-kundoluk-flask-server.herokuapp.com/api/student/')
            .then(response => (this.info = response));

    },
  /*  klassy() {

        axios
            .get('https://e-kundoluk-flask-server.herokuapp.com/api/klass/1')
            .then(response => (this.klass = response));
    }*/

}


</script>
<style lang="">
    @import 'bootstrap/dist/css/bootstrap.min.css';
</style>