<template>
 <!--///////////////////////////////////////////////////////////** template container **//////////////////////////////////////////////-->
<div>
   <MainHeader/>
<div class="container" >

    <div class="row">
        <div class="col-3" >
             <Stmain/>
        </div>
        <!------------------------------------------------------------------------------------------------------------------------->
        <div class="col-9" >
            <div class="row" style="  background-color: rgba(0,0,51,0.6)!important; text-align: center; padding-left: 5%;padding-right: 5%">
                <h3 > elektronduk kundoluk jonundo maalymal jazylat</h3>
                <h3>Биз ата-энелерге,окуучуларга, мугалимдерге коп маалыматтарды оз убагында жана оной эле жетишуусуно мумкунчулук жаратабыз.
                    Ата-энелер балдарынын бааларын, катышууларын жана балдарынын мугалимдери тууралуу маалыматтарды коруу мумкунчулукторуно ээю
                    Ал эми мугалимдер болсо, окуучулардын бааларын, катышууларын,ташырмаларын кошо алат. Биз менен бирге болунуздар!
                </h3>

            </div>
        </div>

    </div>

</div>
</div>
</template>
<script>
import Stmain from '@/components/Student/Stmain'
import MainHeader from '@/components/MainHeader'


export default {
     data() {
    return {
    }
  },
  methods:{
    },
  components: {
    Stmain,MainHeader
  }
}
</script>
<style lang="">
    @import 'bootstrap/dist/css/bootstrap.min.css';
    * {
        box-sizing: border-box;
    }

    body {
        margin: 0;
        font-family: Arial;
        font-size: 17px;
    }

    #myVideo {
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
    }

    .content {
        position: fixed;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        color: #f1f1f1;
        width: 100%;
        padding: 20px;
    }

    #myBtn {
        width: 200px;
        font-size: 18px;
        padding: 10px;
        border: none;
        background: #000;
        color: #fff;
        cursor: pointer;
    }

    #myBtn:hover {
        background: #ddd;
        color: black;
    }
</style>


