/*
https://www.w3schools.com/howto/howto_css_fullscreen_video.asp
https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_fullscreen_video




<!DOCTYPE html>
<html>
<head>

<style>


.oooo {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.oooo-content {
  position: relative;
  top: 15%;
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

.oooo a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.oooo a:hover, .oooo a:focus {
  color: #f1f1f1;
}

.oooo .closebtn {
  position: absolute;
  top: 5px;
  right: 45px;
  font-size: 40px;
}

@media screen and (max-height: 450px) {
  .oooo a {font-size: 20px}
  .oooo .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

</style>
</head>
<body>

<div id="myNav" class="oooo">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <div class="oooo-content">

<video autoplay muted loop id="myVideo">
  <source src="rain.mp4" type="video/mp4">
  Your browser does not support HTML5 video.
</video>

<div class="content">
  <h1>Heading</h1>
  <p>Lorem ipsum dolor sit amet, an his etiam torquatos. Tollit soleat phaedrum te duo, eum cu recteque expetendis neglegentur. Cu mentitum maiestatis persequeris pro, pri ponderum tractatos ei. Id qui nemore latine molestiae, ad mutat oblique delicatissimi pro.</p>
  <button id="myBtn" onclick="myFunction()">Pause</button>
</div>
  </div>
</div>


<span onclick="openNav()">&#9776; open</span>

<script>
function openNav() {
  document.getElementById("myNav").style.width = "100%";
}

function closeNav() {
  document.getElementById("myNav").style.width = "0%";
}
var video = document.getElementById("myVideo");
var btn = document.getElementById("myBtn");

function myFunction() {
  if (video.paused) {
    video.play();
    btn.innerHTML = "Pause";
  } else {
    video.pause();
    btn.innerHTML = "Play";
  }
}
</script>

</body>
</html>

https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_overlay
https://www.w3schools.com/howto/howto_js_sort_list.asp
https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_overlay
http://www.menucool.com/rgba-color-picker
https://eokulyd.meb.gov.tr/logineOkul.aspx

*/@font-face {
    font-family: "OpenSans-Regular";
    src: url("../fonts/OpenSans-Regular/OpenSans-Regular.ttf");
    src: url("../fonts/OpenSans-Regular/OpenSans-Regular.eot");
    src: url("../fonts/OpenSans-Regular/OpenSans-Regular.woff");
}

*{box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
body{
   /* background: url(images/bg.jpg) no-repeat center center fixe*/
 
   background-position-x: center;
   background-position-y: center;
   background-size: cover;
   background-repeat-x: no-repeat;
   background-repeat-y: no-repeat;
   background-attachment: fixed;
   background-origin: initial;
   background-clip: initial;
   background-color: rgba(0,0,51,0.8);
    background: url(../img/bg.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100%;
    /* background-color: rgba(0,2,10,0.5) !important; */
    font-family: "OpenSans-Regular";
}
.content{width: 260px; }
.colors {
    width: 260px;
    float: left;
    margin: 20px auto;
}
.colors a{
    width: 43.3px;
    height: 30px;
    float: left;
}
.colors .default{
    background-color: rgba(0,0,51,0.8);}
.colors .blue{background: #4A89DC;}.colors .green{background: #03A678;}
.colors .red{background: #ED5565;}.colors .white{background: #fff;}
.colors .black{background: rgba(0,2,10,0.5);}

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
.jquery-accordion-menu,.jquery-accordion-menu *{font-family:'Open Sans',sans-serif;box-sizing:border-box
;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;outline:0}
.jquery-accordion-menu{min-width:260px;float:left;position:relative;
    box-shadow:0 20px 50px #333}
.jquery-accordion-menu.jquery-accordion-menu-footer,.jquery-accordion-menu .jquery-accordion-menu-header{width:100%;
    height:50px;padding-left:22px;float:left;line-height:50px;font-weight:600;
    color:#f0f0f0;
    background-color: rgba(0,0,51,0.8);}
.jquery-accordion-menu ul{margin:0;padding:0;list-style:none}
.jquery-accordion-menu ul li{width:100%;display:block;float:left;position:relative}
.jquery-accordion-menu ul li a{width:100%;padding:14px 22px;float:left;text-decoration:none;color:#f0f0f0;
    font-size:13px;background: rgba(0,0,51,0.8);white-space:nowrap;position:relative;overflow:hidden;
    -o-transition:color .2s linear,background .2s linear;-moz-transition:color .2s linear,background .2s linear;
    -webkit-transition:color .2s linear,background .2s linear;transition:color .2s linear,background .2s linear}
.jquery-accordion-menu>ul>li.active>a,.jquery-accordion-menu>ul>li:hover>a{color:#fff;background:
    rgba(0,0,51,1);/*aktiv bolgondosu*/}
.jquery-accordion-menu>ul>li>a{border-bottom:solid 1px #3b424d}
.jquery-accordion-menu ul li a i{width:34px;float:left;line-height:18px;font-size:16px;text-align:left}
.jquery-accordion-menu .submenu-indicator{
    float:right;
    right:22px;
    position:absolute;
    line-height:19px;
    font-size:20px;
    -o-transition:transform .3s linear;
    -moz-transition:transform .3s linear;
    -webkit-transition:transform .3s linear;
    -ms-transition:transform .3s linear
}
.jquery-accordion-menu ul ul.submenu .submenu-indicator{line-height:16px}
.jquery-accordion-menu .submenu-indicator-minus>.submenu-indicator{
    -ms-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg)
}
.jquery-accordion-menu ul ul.submenu,.jquery-accordion-menu ul ul.submenu li ul.submenu{width:100%;
    display:none;position:static}.jquery-accordion-menu ul ul.submenu li{clear:both;width:100%}
.jquery-accordion-menu ul ul.submenu li a{width:100%;float:left;font-size:11px;background:rgba(0,2,10,0.5);
    border-top:none;position:relative;border-left:solid 6px transparent;-o-transition:border .2s linear;
    -moz-transition:border .2s linear;-webkit-transition:border .2s linear;transition:border .2s linear}
/*2-menunun aktivi*/
.jquery-accordion-menu ul ul.submenu li:hover>a{border-left-color: rgba(5, 8, 44, 0.82);
    background: rgba(5, 8, 44, 0.82);
}
.jquery-accordion-menu ul ul.submenu>li>a{padding-left:30px}
.jquery-accordion-menu ul ul.submenu>li>ul.submenu>li>a{padding-left:45px}
.jquery-accordion-menu ul ul.submenu>li>ul.submenu>li>ul.submenu>li>a{padding-left:60px}
.jquery-accordion-menu ul li .jquery-accordion-menu-label,.jquery-accordion-menu ul ul.submenu li
.jquery-accordion-menu-label{min-width:20px;padding:1px 2px 1px 1px;
    position:absolute;right:18px;top:14px;font-size:11px;font-weight:800;
    color:rgba(0,2,10,0.5);text-align:center;
    line-height:18px;background:rgba(0,2,10,0.5);border-radius:100%}
.jquery-accordion-menu ul ul.submenu li .jquery-accordion-menu-label{top:12px}
.ink{display:block;position:absolute;background:rgba(0,2,10,0.5);
    border-radius:100%;-webkit-transform:scale(0);-moz-transform:scale(0);
    -ms-transform:scale(0);-o-transform:scale(0);transform:scale(0)}
.animate-ink{-webkit-animation:ripple .5s linear;-moz-animation:ripple .5s linear;-ms-animation:ripple .5s linear;
    -o-animation:ripple .5s linear;animation:ripple .5s linear}
@-webkit-keyframes ripple{100%{opacity:0;-webkit-transform:scale(2.5)}}
@-moz-keyframes ripple{100%{opacity:0;-moz-transform:scale(2.5)}}
@-o-keyframes ripple{100%{opacity:0;-o-transform:scale(2.5)}}
@keyframes ripple{100%{opacity:0;transform:scale(2.5)}}
.blue.jquery-accordion-menu .jquery-accordion-menu-footer,.blue.jquery-accordion-menu
.jquery-accordion-menu-header,.blue.jquery-accordion-menu ul li a{background:#4A89DC}
.blue.jquery-accordion-menu>ul>li.active>a,.blue.jquery-accordion-menu>ul>li:hover>a{background:#3e82da}
.blue.jquery-accordion-menu>ul>li>a{border-bottom-color:#3e82da}.blue.jquery-accordion-menu ul ul.submenu li:hover>a{border-left-color:#3e82da}.green.jquery-accordion-menu .jquery-accordion-menu-footer,.green.jquery-accordion-menu .jquery-accordion-menu-header,.green.jquery-accordion-menu ul li a{background:#03A678}.green.jquery-accordion-menu>ul>li.active>a,.green.jquery-accordion-menu>ul>li:hover>a{background:#049372}.green.jquery-accordion-menu>ul>li>a{border-bottom-color:#049372}.green.jquery-accordion-menu ul ul.submenu li:hover>a{border-left-color:#049372}.red.jquery-accordion-menu .jquery-accordion-menu-footer,.red.jquery-accordion-menu .jquery-accordion-menu-header,.red.jquery-accordion-menu ul li a{background:#ED5565}.red.jquery-accordion-menu>ul>li.active>a,.red.jquery-accordion-menu>ul>li:hover>a{background:#DA4453}.red.jquery-accordion-menu>ul>li>a{border-bottom-color:#DA4453}.red.jquery-accordion-menu ul ul.submenu li:hover>a{border-left-color:#DA4453}.white.jquery-accordion-menu .jquery-accordion-menu-footer,.white.jquery-accordion-menu .jquery-accordion-menu-header,.white.jquery-accordion-menu ul li a{background:#fff;color:#555}.white.jquery-accordion-menu>ul>li.active>a,.white.jquery-accordion-menu>ul>li:hover>a{background:#f0f0f0}.white.jquery-accordion-menu>ul>li>a{border-bottom-color:#f0f0f0}.white.jquery-accordion-menu ul ul.submenu li:hover>a{border-left-color:#f0f0f0}.white.jquery-accordion-menu ul ul.submenu li a{color:#f0f0f0}.white.jquery-accordion-menu>ul>li>a>.ink{background:rgba(0,0,0,.1)}.black.jquery-accordion-menu .jquery-accordion-menu-footer,.black.jquery-accordion-menu .jquery-accordion-menu-header,.black.jquery-accordion-menu ul li a{background:#292929}.black.jquery-accordion-menu>ul>li.active>a,.black.jquery-accordion-menu>ul>li:hover>a{background:#222}.black.jquery-accordion-menu>ul>li>a{border-bottom-color:#222}.black.jquery-accordion-menu ul ul.submenu li:hover>a{border-left-color:#222}
/*****************************************************************************************************************/
.col-9{
    /*  background-color: rgba(34,50,83,.85) !important;*/

    background-repeat: no-repeat;
    background-position: center;
    padding: 5%;
    color: #f0f0f0;

}
/*****************************************************************************************************************/
.card{
    height: 320px;
    text-align: center;
    width: 400px;
    margin-top: 10%;
    position:fixed;
    background-color: rgba(0,2,10,0.5) !important;
}

.social_icon span{
    font-size: 60px;
    margin-left: 10px;
    color: #FFC312;
}

.social_icon span:hover{
    color: white;
    cursor: pointer;
}

.card-header h3{
    color: white;
}

.social_icon{
    position: absolute;
    right: 20px;
    top: -45px;
}

.input-group-prepend span{
    width: 50px;
    background-color: #0b8eff;
    color: black;
    border:0 !important;
}

input:focus{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;

}

.remember{
    color: white;
}

.remember input
{
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.login_btn{
    color:white;
    background-color: #0b8eff;
    width: 100px;
}

.login_btn:hover{
    color: rgba(0,0,51);
    background-color: white;
}

.links{
    color: white;
}

.links a{
    margin-left: 4px;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

    color: white;
    text-align: center;
}
.td1{
    background-color:#234453;
    border-bottom: 4px solid #39353e;
    text-align: center;
    font-weight: bold;
    color: white;
}
.td2{
    background-color:#395764;
    border-bottom: 4px solid #39353e;
    text-align: center;
    color: white;
}
.sabaktar{

    border: solid 1px #3b424d;
    color: white;
    padding-bottom: 50px;
    padding-top: 50px;
}
.sabaktar h3{
    color: white;
}
.sabaktar:hover{
background-color:rgba(0, 1, 4, 0.5);
}
.raspisaniye{
    color: white;
    background-color: #4A89DC;
}
  