<template>

    <div>

        <div v-for="item in info.data">

            <h1>{{item.id}}</h1>

            <h2>{{item.id_klass}}</h2>

            <h2>{{item.id_parent}}</h2>
            <h2>{{item.id_user}}</h2>
            <h2>{{item.name}}</h2>
            <h2>{{item.surname}}</h2>
            <!--<video width="450" controls :src="item.Path"></video>-->

            <hr>

        </div>

    </div>

</template>



<script>

    import axios from 'axios'



    export default {

        el: '#test',

        data() {

            return {

                info: null

            };

        },

        mounted() {

            axios

                .get('http://10f6e6de.ngrok.io/api/student')

                .then(response => (this.info = response));

        }

    };

</script>