<template>
<div>
<MainHeader/>
<div class="container" >

    <div class="row">
        <div class="col-sm-3" >
            <Smenu/>
        </div>
        <!------------------------------------------------------------------------------------------------------------------------->
<div class="col-sm-9" style="margin-top:6.3%" >
    <div class="row" style="  background-color: rgba(0,2,10,0.5) !important;">
            <table class="table table-bordered table-dark raspisaniye" >
                <thead >
                <tr style="width: 400px; height: 40px" >
                    <th style="width: 20px; height: 40px">Id</th>
                    <th style="width: 100px; height: 40px"> Name </th>
                    <th style="width: 100px; height: 40px"> Sure name </th>
                    <th style="width: 100px; height: 40px"> Tuulgan jyly </th>
                    <th style="width: 100px; height: 40px"> tuulgan kunu</th>
                    <th style="width: 100px; height: 40px"> update</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <th style="width: 20px; height: 40px">1 </th>
                        <th style="width: 100px; height: 40px"> Aizada</th>
                        <th style="width: 100px; height: 40px"> Aripjanova </th>
                        <th style="width: 100px; height: 40px"> 1997 </th>
                        <th style="width: 100px; height: 40px"> 25 september</th>
                        <th style="width: 100px; height: 40px"> update</th>

                    </tr>
                    <tr>
                        <th style="width: 20px; height: 40px">2 </th>
                        <th style="width: 100px; height: 40px"> Nuriza</th>
                        <th style="width: 100px; height: 40px"> Abdillaeva </th>
                        <th style="width: 100px; height: 40px"> 1997 </th>
                        <th style="width: 100px; height: 40px"> 11 junuary</th>
                        <th style="width: 100px; height: 40px"> update</th>

                    </tr>
                </tbody>
            </table>
    </div>
        </div>

    </div>

</div>
</div>
</template>
<script>
import Smenu from '@/components/supervisor/Smenu'
import MainHeader from '@/components/MainHeader'

export default {
     data() {
    return {
    }
  },
  methods:{
    },
  components: {
    Smenu,MainHeader
  }
}
</script>
<style lang="">
    @import 'bootstrap/dist/css/bootstrap.min.css';
</style>


