<template>
<div>
    <MainHeader/>
<div class="container" >

    <div class="row">
        <div class="col-3" >
            <Pmenu/>
        </div>
        <!------------------------------------------------------------------------------------------------------------------------->
        <div class="col-9" >
              <div class="row " style="  background-color: rgba(0,2,10,0.5) !important;">
        <div class="col-sm-4 sabaktar" >
            <a href="#" style="text-align: center;"><h3>кыргыз тили</h3></a>
        </div>
        <div class="col-sm-4 sabaktar">
            <a href="#" style="text-align: center;"><h3>орус тили</h3></a>
        </div>
        <div class="col-sm-4 sabaktar" >
            <a href="#" style="text-align: center;"><h3>математика</h3></a>
        </div>
        <div class="col-sm-4 sabaktar">
            <a href="#" style="text-align: center;"><h3>физика</h3></a>
        </div>
        <div class="col-sm-4 sabaktar">
            <a href="#" style="text-align: center;"><h3>химия</h3></a>
        </div>
        <div class="col-sm-4 sabaktar" >
            <a href="#" style="text-align: center;"><h3>тарых</h3></a>
        </div>
    </div>
        </div>

    </div>

</div>
</div>
</template>
<script>
import Pmenu from '@/components/parent/Pmenu'
import MainHeader from '@/components/MainHeader'

export default {
     data() {
    return {
    }
  },
  methods:{
    },
  components: {
    Pmenu, MainHeader
  }
}
</script>
<style lang="">
    @import 'bootstrap/dist/css/bootstrap.min.css';
</style>


