<template>
<div>
    <MainHeader/>
    <span onclick="openNav()">&#9776; open</span>
    <!--
<div class="container" >

    <div class="row">
        <div class="col-3" >
            <Pmenu/>
        </div>-->
        <!------------------------------------------------------------------------------------------------------------------------->
       <!-- <div class="col-9" >
            <div class="row" style="  background-color: rgba(0,2,10,0.5) !important; text-align: center; padding-left: 5%;padding-right: 5%">
                <h3 > elektronduk kundoluk jonundo maalymal jazylat</h3>
                <h3>Milli Eğitim Bakanlığı, veli ve öğrencilere E-Okul Veli Bilgilendirme Sistemi ile bir çok bilgiye anında ve kolay erişim imkanı sağlıyor. Veliler öğrencilerin notlarını ve devamsızlıklarını e-okul üzerinden takip edebilirken öğrencilerin de bu bilgilere erişimi sağlanmış oluyor.
                TEOG sonuçlarının açıklanması ve nakil işlemleri gibi bir çok konuda e-okul veli bilgilendirme sistemi devreye giriyor.</h3>

            </div>
        </div>

    </div>

</div>-->

    <div id="myNav" class="oooo">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <div class="oooo-content">

            <video autoplay muted loop id="myVideo">
                <source src="/src/assets/img/diary.mp4" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>

            <div class="content">
                <h1>Heading</h1>
                <p>Lorem ipsum dolor sit amet, an his etiam torquatos. Tollit soleat phaedrum te duo, eum cu recteque expetendis neglegentur. Cu mentitum maiestatis persequeris pro, pri ponderum tractatos ei. Id qui nemore latine molestiae, ad mutat oblique delicatissimi pro.</p>
                <button id="myBtn" onclick="myFunction()">Pause</button>
            </div>
        </div>npm t
    </div>



</div>
</template>
<script>
    function openNav() {
        document.getElementById("myNav").background = "red";

        document.getElementById("myNav").style.width = "10%";
    }

    function closeNav() {
        document.getElementById("myNav").style.width = "0%";
    }
    var video = document.getElementById("myVideo");
    var btn = document.getElementById("myBtn");

    function myFunction() {
        if (video.paused) {
            video.play();
            btn.innerHTML = "Pause";
        } else {
            video.pause();
            btn.innerHTML = "Play";
        }
    }
import Pmenu from '@/components/parent/Pmenu'
import MainHeader from '@/components/MainHeader'
export default {
     data() {
    return {
    }
  },
  methods:{
    },
  components: {
    Pmenu,MainHeader
  }
}
</script>
<style lang="">
    @import 'bootstrap/dist/css/bootstrap.min.css';


    .oooo {
        height: 100%;
        width: 0%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.9);
        overflow-x: hidden;
        transition: 0.5s;
    }

    .oooo-content {
        position: relative;
        top: 15%;
        width: 100%;
        text-align: center;
        margin-top: 10px;
    }

    .oooo a {
        padding: 8px;
        text-decoration: none;
        font-size: 36px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

    .oooo a:hover, .oooo a:focus {
        color: #f1f1f1;
    }

    .oooo .closebtn {
        position: absolute;
        top: 5px;
        right: 45px;
        font-size: 40px;
    }

    @media screen and (max-height: 450px) {
        .oooo a {font-size: 20px}
        .oooo .closebtn {
            font-size: 40px;
            top: 15px;
            right: 35px;
        }
    }

</style>


