<template>
<div>
    <MainHeader/>
<div class="container" >

    <div class="row">
        <div class="col-3" >
            <Pmenu/>
        </div>
        <!------------------------------------------------------------------------------------------------------------------------->
        <div class="col-9" >
          <table class="table table-bordered ">
                <thead >
                <h3 style="text-align: center">Жеке маалыматтары</h3>
                </thead>
                <tbody>
                <tr>

                    <td class="td1">Номери</td>
                    <td class="td2">1604.01004</td>
                </tr>

                <tr>
                <td class="td1">Аты</td>
                <td class="td2">Жусуп</td>
                </tr>
                <tr>

                    <td class="td1">Фамилиясы</td>
                    <td class="td2">Арипжанов</td>
                </tr>
                <tr>

                    <td class="td1">Баланын саны</td>
                    <td class="td2">1</td>
                </tr>

                <tr>

                    <td class="td1">Баласы</td>
                    <td class="td2">Арипжанов</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>
</div>
</template>
<script>
import Pmenu from '@/components/parent/Pmenu'
import MainHeader from '@/components/MainHeader'

export default {
     data() {
    return {
    }
  },
  methods:{
    },
  components: {
   Pmenu,MainHeader
  }
}
</script>
<style lang="">
    @import 'bootstrap/dist/css/bootstrap.min.css';
</style>


