<template>
 <div>
    <MainHeader/>  
    <div class="container" >

        <div class="row">
            <div class="col-3" >
            <Pmenu/>
            </div>
        <!------------------------------------------------------------------------------------------------------------------------->
        <div class="col-9" >
                    <table class="table table-bordered raspisaniye" >
                        <thead style="background-color:#2C5D9C ">
                            <tr>
                                <th scope="col">N-</th>
                                <th scope="col">сааты</th>
                                <th scope="col">Дуйшонбу</th>
                                <th scope="col">25-фераль</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="col">1</th>
                                <th scope="row">8:00</th>
                                <th scope="col">математика</th>
                                <td colspan="2">ж Алмазбекова</td>
                            </tr>
                            <tr>
                                <th scope="col">2</th>
                                <th scope="row">8:50</th>
                                <th scope="col">тарых</th>
                                <td colspan="2">Н.Атаканова</td>

                            </tr>
                            <tr>
                                <th scope="col">3</th>
                                <th scope="row">9:40</th>
                                <th scope="col">кыршыз тили</th>
                                <td colspan="2">С.Ормонова</td>
                            </tr>
                            <tr>
                                <th scope="row">4</th>
                                <th scope="row">10:35</th>
                                <th scope="col">орус тили</th>
                                <td colspan="2">Т.Акбаева</td>
                            </tr>
                            <tr>
                                <th scope="row">5</th>
                                <th scope="row">11:25</th>

                            </tr>
                                <tr>
                                    <th scope="row">6</th>
                                    <th scope="row">12:15</th>

                                </tr>
                        </tbody>
                     </table>
                    <table class="table table-bordered raspisaniye">
                        <thead style="background-color:#2C5D9C ">
                        <tr>
                            <th scope="col">N-</th>
                            <th scope="col">сааты</th>
                            <th scope="col">Дуйшонбу</th>
                            <th scope="col">25-фераль</th>
                        </tr>
                        </thead>
                    <tbody>
                            <tr>
                                <th scope="col">1</th>
                                <th scope="row">8:00</th>
                                <th scope="col">математика</th>
                                <td colspan="2">ж Алмазбекова</td>
                            </tr>
                            <tr>
                                <th scope="col">2</th>
                                <th scope="row">8:50</th>
                                <th scope="col">Дуйшонбу</th>
                                <td colspan="2">Larry the Bird</td>

                            </tr>
                            <tr>
                                <th scope="col">3</th>
                                <th scope="row">9:40</th>
                                <th scope="col">Дуйшонбу</th>
                                <td colspan="2">Larry the Bird</td>
                            </tr>
                            <tr>
                                <th scope="row">4</th>
                                <th scope="row">10:35</th>
                                <th scope="col">Дуйшонбу</th>
                                <td colspan="2">Larry the Bird</td>
                            </tr>
                            <tr>
                                <th scope="row">5</th>
                                <th scope="row">11:25</th>
                                <th scope="col">Дуйшонбу</th>
                                <td colspan="2">Larry the Bird</td>
                            </tr>
                            <tr>
                                <th scope="row">6</th>
                                <th scope="row">12:15</th>
                                <td colspan="2">Larry the Bird</td>

                            </tr>
                    </tbody>
                </table>
                    <table class="table table-bordered raspisaniye">
                    <thead style="background-color: #2C5D9C ">
                    <tr>
                        <th scope="col">N-</th>
                        <th scope="col">Дуйшонбу</th>
                        <th scope="col">25-фераль</th>
                    </tr>
                    </thead>
                <tbody>
                <tr>
                    <th scope="row">1
                        <p>8-00</p></th>
                    <th scope="col">математика</th>
                    <td colspan="2">ж Алмазбекова</td>
                </tr>
                <tr>
                    <th  scope="row">2</th>
                    <th scope="col">Дуйшонбу</th>
                    <td colspan="2">Larry the Bird</td>

                </tr>
                <tr>
                    <th scope="row">3</th>
                    <th scope="col">Дуйшонбу</th>
                    <td colspan="2">Larry the Bird</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <th scope="col">Дуйшонбу</th>
                    <td colspan="2">Larry the Bird</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <th scope="col">Дуйшонбу</th>
                    <td colspan="2">Larry the Bird</td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td colspan="2">Larry the Bird</td>

                </tr>
                </tbody>
            </table><table class="table table-bordered raspisaniye">
                <thead style="background-color: #2C5D9C ">
                <tr>
                    <th scope="col">N-</th>
                    <th scope="col">Дуйшонбу</th>
                    <th scope="col">25-фераль</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1
                        <p>8-00</p></th>
                    <th scope="col">математика</th>
                    <td colspan="2">ж Алмазбекова</td>
                </tr>
                <tr>
                    <th  scope="row">2</th>
                    <th scope="col">Дуйшонбу</th>
                    <td colspan="2">Larry the Bird</td>

                </tr>
                <tr>
                    <th scope="row">3</th>
                    <th scope="col">Дуйшонбу</th>
                    <td colspan="2">Larry the Bird</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <th scope="col">Дуйшонбу</th>
                    <td colspan="2">Larry the Bird</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <th scope="col">Дуйшонбу</th>
                    <td colspan="2">Larry the Bird</td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td colspan="2">Larry the Bird</td>

                </tr>
                </tbody>
            </table><table class="table table-bordered raspisaniye">
                <thead style="background-color: #2C5D9C ">
                <tr>
                    <th scope="col">N-</th>
                    <th scope="col">Дуйшонбу</th>
                    <th scope="col">25-фераль</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1
                        <p>8-00</p></th>
                    <th scope="col">математика</th>
                    <td colspan="2">ж Алмазбекова</td>
                </tr>
                <tr>
                    <th  scope="row">2</th>
                    <th scope="col">Дуйшонбу</th>
                    <td colspan="2">Larry the Bird</td>

                </tr>
                <tr>
                    <th scope="row">3</th>
                    <th scope="col">Дуйшонбу</th>
                    <td colspan="2">Larry the Bird</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <th scope="col">Дуйшонбу</th>
                    <td colspan="2">Larry the Bird</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <th scope="col">Дуйшонбу</th>
                    <td colspan="2">Larry the Bird</td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td colspan="2">Larry the Bird</td>

                </tr>
                </tbody>
            </table>
            </div>
        </div>

    </div>
 </div>

</template>
<script>
import Pmenu from '@/components/parent/Pmenu'
import MainHeader from '@/components/MainHeader'
 
export default {
     data() {
    return {
    }
  },
  methods:{
    },
  components: {
    Pmenu,MainHeader
  }
}
</script>
<style lang="">
    @import 'bootstrap/dist/css/bootstrap.min.css';
</style>


