<template>
 <header>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top" STYLE=" margin-left:4%;  background-color: rgba(0,2,10,0.01)  !important; ">
<a class="navbar-brand" href="#"><img src="../assets/img/eokullogo.png" class="img-responsive"></a>
</nav>
</header>
</template>

<script>
export default {
    
}
</script>
<style lang="" scoped>
 .button {
  float: right; margin-left:90% ;
  background-color: rgba(0,2,10,0.8);
  border: none;
  color: white;

  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  
  cursor: pointer;
}
.button4 {border-radius: 12px;}
</style>
