<template>
    <div>
        <IndexHeader/>
        <div class="container ">
            <div class="d-flex justify-content-center h-100">
                <div class="card">
                    <div class="card-header">
                        <h3>Sign In{{getCount}}</h3>
                    </div>
                    <div class="card-body">
                        <form  method="post">
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-user" style="color: white"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="username" id="username" name="username" v-model="username"
                                       pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                                       title="8 символдон аз  жана баардыгы сан болбойт" required>

                            </div>
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-key" style="color: white"></i></span>
                                </div>
                                <input type="password" class="form-control" placeholder="password" v-model="password">
                            </div>

                            <div class="form-group">
                                <input type="button" value="submitt" class="btn float-right login_btn"  @click="created()" >


                                <router-link :to="{name: 'info', params:  'data'}">student</router-link><br>
                                <router-link :to="'T_info'">teacher</router-link><br>
                                <router-link :to="'S_info'">supervisor</router-link><br>
                                <router-link :to="'P_info'">parent</router-link><br>
                            
                            </div>
                        </form>
                    </div>

                </div>
            </div>

        </div>
    </div>
</template>

<script>
    import IndexHeader from '@/components/IndexHeader'
    import axios from 'axios'
    export default {
        components: {
            IndexHeader
        },
        name: 'app',
        data() {

            return {
                username: '',
                password: '',
                errored: false,
            

            }
        },


        /*
          http://blog.vuejoy.com/4-axios/
            }*/
       
        methods: {

            created() {
                const { username, password } = this;
                axios.post("https://e-kundoluk-flask-server.herokuapp.com/api/login/", { username, password }) .then((response) => {
           
                    
                    const usertype = response.data.usertype;

                     const  data=response.data
                    console.log(data);
                    if (usertype ===4 ) {
                        
                        this.$router.push({ path: '/info', params: { data } })
                     
                    }
                    if (usertype ===3) {
                        this.$router.push('/P_info')
                    }
                    if (usertype === 2) {
                        this.$router.push('/T_info')
                    }
                    if (usertype === 1) {
                        this.$router.push('/S_info')
                    }

                })

            },
        }
    }
</script>
<style lang="" scoped>
    @import 'bootstrap/dist/css/bootstrap.min.css';

    .card{
        height: 320px;
        text-align: center;
        width: 400px;
        margin-top: 20px;
        position:fixed;
        background-color: rgba(0,0,51,0.6)!important;
    }

    .social_icon span{
        font-size: 60px;
        margin-left: 10px;
        color: #FFC312;
    }

    .social_icon span:hover{
        color: white;
        cursor: pointer;
    }

    .card-header h3{
        color: white;
    }

    .social_icon{
        position: absolute;
        right: 20px;
        top: -45px;
    }



    .input-group-prepend span{
        width: 50px;
        background-color: rgba(0,0,51,0.8);
        color: black;
        border:0 !important;
    }

    input:focus{
        outline: 0 0 0 0  !important;
        box-shadow: 0 0 0 0 !important;

    }

    .remember{
        color: white;
    }

    .remember input
    {
        width: 20px;
        height: 20px;
        margin-left: 15px;
        margin-right: 5px;
    }

    .login_btn{
        color: white;
        background-color: rgba(0,0,51,0.8);
        width: 100px;
    }

    .login_btn:hover{
        color: black;
        background-color: white;
    }
</style>
