<template>
 <header>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top" STYLE=" margin-left:4%;  background-color: rgba(0,2,10,0.01)  !important; ">
   <a class="navbar-brand" href="#"><img src="../assets/img/eokullogo.png" class="img-responsive"></a>

<button class="button button4"><router-link  to="/"   class="navbar-brand">Чыгуу</router-link></button>
</nav>
</header>
</template>

<script>
export default {
    
}
</script>
<style lang="" scoped>
 .button {
  float: right; margin-left:70% ;
  background-color:  rgba(0,0,51,0.7);
  border: none;
  color: white;

  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  
  cursor: pointer;
}
.button4 {border-radius: 12px;}
</style>
