<template>
<div>
    <MainHeader/>
<div class="container" >

    <div class="row">
        <div class="col-3" >
            <TMenu/>
        </div>
        <!------------------------------------------------------------------------------------------------------------------------->
        <div class="col-9" >
            <div class="row" style="  background-color: rgba(0,2,10,0.5) !important; text-align: center; padding-left: 5%;padding-right: 5%">
                <h3 style="text-align:center">E-KUNDOLUk жонундо маалымат</h3>
                <h3>Биз ата-энелерге,окуучуларга, мугалимдерге коп маалыматтарды оз убагында жана оной эле жетишуусуно мумкунчулук жаратабыз.
                    Ата-энелер балдарынын бааларын, катышууларын жана балдарынын мугалимдери тууралуу маалыматтарды коруу мумкунчулукторуно ээю
                    Ал эми мугалимдер болсо, окуучулардын бааларын, катышууларын,ташырмаларын кошо алат. Биз менен бирге болунуздар!
                </h3>
            </div>
        </div>
    </div>
</div>
</div>
</template>
<script>
import TMenu from '@/components/teacher/TMenu'
import MainHeader from '@/components/MainHeader'

export default {
     data() {
    return {
    }
  },
  methods:{
    },
  components: {
    TMenu,MainHeader
  }
}
</script>
<style lang="">
    @import 'bootstrap/dist/css/bootstrap.min.css';
</style>


