<template>
<div>
    <MainHeader/>
    <div class="container">
    <div class="row">
            <div class="col-sm-3">
                <TMenu/>
            </div>
     <div class="col-sm-9" style="margin-top:1.7%">
    <div class="row" style="  background-color: rgba(0,2,10,0.5) !important;">
        <div class="col-9">
            <div class="col-sm-4" style="margin-left: 20%">
                <table class="table table-bordered  table-dark "  >
                    <thead>
                    <h4 style="float: left;">Класс:</h4>
                    </thead>
                    <tbody>
                    <tr>
                        <td>5</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-6" style="float: right; margin-top: -100px;   ">
                <table class="table table-bordered  table-dark " >
                    <thead>
                    <h4 >Мугалим:</h4>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Бегимай Асанбекова</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-3" style="margin-left: 20%" >
                <table class="table table-bordered table-dark " >
                    <tbody>
                    <tr>
                        <th>N:</th>
                        <th >Аты-жону</th>
                        <th>04.10.2019</th>
                        <th>06.10.2019</th>
                        <th>08.10.2019</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Нуриза Абдиллаева</td>
                        <td>кж</td>
                        <td></td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Айзада Арипжанова</td>
                        <td>5</td>
                        <td> </td>
                        <td>кж</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Бексар Гасанов</td>
                        <td> </td>
                        <td>5</td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Бегимай Алиева</td>
                        <td>кж</td>
                        <td> </td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Аман Алиев</td>
                        <td>кж</td>
                        <td> </td>
                        <td>5</td>
                    </tr>
                    </tbody>
                </table>
            </div>
          </div>  
        </div>
    </div>
    </div>
</div>
</div>
</template>
<script>
import TMenu from '@/components/teacher/TMenu'

import MainHeader from '@/components/MainHeader'
export default {
     data() {
    return {
    }
  },
  methods:{
    },
  components: {
    TMenu,MainHeader
  }
}
</script>
<style lang="">
    @import 'bootstrap/dist/css/bootstrap.min.css';
</style>