    <template>
    <div>
        <MainHeader/>
            <div class="container">
            <div class="row">
                    <div class="col-sm-3">
                        <TMenu/>
                    </div>
                    <div class="col-sm-9" style="margin-top:1.7%">
                        <div class="row" style="  background-color: rgba(0,2,10,0.5) !important;">
                            <div class="col-sm-9" style="margin-top:5.5%">
                                    <table class="table table-bordered table-dark ">
                                        <thead>
                                        <h4 >Мугалим:</h4>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>Бегимай Асанбекова</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <table class="table table-bordered table-dark ">
                                        <tbody>
                                        <tr>
                                            <th>N:</th>
                                            <th>Сааты</th>
                                            <th>Дуйшомбу</th>
                                            <th>Шейшемби</th>
                                            <th>Шаршемби</th>
                                            <th>Бейшемби</th>
                                            <th>Жума</th>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>08:00-08:45</td>
                                            <td></td>
                                            <td>5-класс</td>
                                            <td>7-класс</td>
                                            <td>10-класс</td>
                                            <td>8-класс</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>08:55-09:40</td>
                                            <td>11-класс</td>
                                            <td>6-класс</td>
                                            <td></td>
                                            <td></td>
                                            <td>9-класс</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>09:50-10:35</td>
                                            <td>8-класс</td>
                                            <td></td>
                                            <td>10-класс</td>
                                            <td>5-класс</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>10:45-11:30</td>
                                            <td>6-класс</td>
                                            <td>9-класс</td>
                                            <td></td>
                                            <td>11-класс</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>5</td>
                                            <td>11:40-12:25</td>
                                            <td>5-класс</td>
                                            <td>7-класс</td>
                                            <td></td>
                                            <td></td>
                                            <td>10-класс</td>
                                        </tr>
                                        </tbody>
                                    </table>
                               </div>
                            </div>
                         </div>
                    </div>
                </div>
    </div>
</template>  
<script>
import TMenu from '@/components/teacher/TMenu'
import MainHeader from '@/components/MainHeader'

export default {
     data() {
    return {
    }
  },
  methods:{
    },
  components: {
    TMenu,MainHeader
  }
}
</script>
<style lang="">
    @import 'bootstrap/dist/css/bootstrap.min.css';
</style>